/* RESETS */
html,body {margin:0;padding:0;}
body {background-color:#000;font:75%/1.5em 'helvetica neue',helvetica,arial,sans-serif;color:#fff;text-align:left;}
img {border:0;}
a {color:#ffe400;text-decoration:none;}
a:hover {text-decoration:none;color:#fff;}
p {margin:0 0 1em 0;}

h1 {text-transform:uppercase;font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:3.75em;margin:0;color:#fff;}
h2 {text-transform:uppercase;font-weight:normal;font-size:0.85em;margin-top:12px;}

/* PAGE-SPECIFIC IDS */
#mainspc {position:relative;top:0;left:0;width:280px;margin:0 auto;padding:90px 0 0 0;}
#playerspc,#loginspc {margin-top:40px;}
#infospc,#helpspc {margin-top:60px;font-size:0.8em;}
#errorspc {color:#300;font-weight:bold;}

/* PAGE-SPECIFIC CLASSES */
.clearall {height:1px;overflow:hidden;visibility:hidden;clear:both;}

/* PLAYER-SPECIFICS */
.flower_soundplaylist {color:#fff;}
.flower_soundplayer_title {color:#000;width:auto;float:left;font-weight:bold;}
.flower_soundplayer_time {width:auto;float:right;color:#444;font-size:0.6em;}
.flower_soundplayer_seekbarcontainer {clear:both;background-color:#ad766a !important;}
.flower_soundplayer_seekbar {background-color:#ffa956 !important;}
.flower_soundplayer_positionmarker {background-color:#fff !important;}

/* FORM STUFFS */
input, textarea {padding:0.42em 4px 0.42em 4px;border:1px solid #777;width:195px;}
input:active, input:focus, textarea:active, textarea:focus {outline:0;border:1px solid #888;}
input.button {display:block;background-color:#404040;color:#ccc;padding:0.42em 10px 0.42em 10px;font-weight:bold;cursor:pointer;width:auto;margin-top:30px;}
input.button:hover {background-color:#000;}
label {display:block;margin:0;padding:0;font-size:0.8em;text-transform:uppercase;color:#000;}